.bg-nav_arrow_hover {
  width: 65px; height: 32px;
  background: url('../img/keico_sprites.png') -10px -140px;
}
.bg-yahoo_logo {
  width: 131px; height: 45px;
  background: url('../img/keico_sprites.png') -10px -75px;
}
.bg-iphone_app_hover {
  width: 12px; height: 16px;
  background: url('../img/keico_sprites.png') -78px -308px;
}
.bg-windows_icon {
  width: 40px; height: 38px;
  background: url('../img/keico_sprites.png') -10px -192px;
}
.bg-iphone_app {
  width: 12px; height: 16px;
  background: url('../img/keico_sprites.png') -110px -308px;
}
.bg-twitter {
  width: 30px; height: 30px;
  background: url('../img/keico_sprites.png') -213px -250px;
}
.bg-sub_icon {
  width: 20px; height: 14px;
  background: url('../img/keico_sprites.png') -313px -195px;
}
.bg-ios_icon {
  width: 29px; height: 38px;
  background: url('../img/keico_sprites.png') -10px -250px;
}
.bg-play_hover {
  width: 14px; height: 16px;
  background: url('../img/keico_sprites.png') -313px -265px;
}
.bg-nav_arrow {
  width: 65px; height: 32px;
  background: url('../img/keico_sprites.png') -95px -140px;
}
.bg-google_logo {
  width: 130px; height: 45px;
  background: url('../img/keico_sprites.png') -162px -75px;
}
.bg-google {
  width: 30px; height: 30px;
  background: url('../img/keico_sprites.png') -263px -250px;
}
.bg-facebook_logo {
  width: 132px; height: 45px;
  background: url('../img/keico_sprites.png') -10px -10px;
}
.bg-play {
  width: 14px; height: 16px;
  background: url('../img/keico_sprites.png') -10px -308px;
}
.bg-f_icon6 {
  width: 36px; height: 32px;
  background: url('../img/keico_sprites.png') -236px -140px;
}
.bg-f_icon5 {
  width: 32px; height: 32px;
  background: url('../img/keico_sprites.png') -59px -250px;
}
.bg-f_icon4 {
  width: 32px; height: 32px;
  background: url('../img/keico_sprites.png') -237px -192px;
}
.bg-paypal_logo {
  width: 131px; height: 45px;
  background: url('../img/keico_sprites.png') -162px -10px;
}
.bg-f_icon2 {
  width: 36px; height: 32px;
  background: url('../img/keico_sprites.png') -181px -192px;
}
.bg-f_icon1 {
  width: 32px; height: 32px;
  background: url('../img/keico_sprites.png') -111px -250px;
}
.bg-close_video {
  width: 38px; height: 38px;
  background: url('../img/keico_sprites.png') -70px -192px;
}
.bg-android_icon {
  width: 33px; height: 38px;
  background: url('../img/keico_sprites.png') -128px -192px;
}
.bg-android_app_hover {
  width: 14px; height: 16px;
  background: url('../img/keico_sprites.png') -313px -229px;
}
.bg-android_app {
  width: 14px; height: 16px;
  background: url('../img/keico_sprites.png') -44px -308px;
}
.bg-f_icon3 {
  width: 36px; height: 32px;
  background: url('../img/keico_sprites.png') -180px -140px;
}
.bg-icon5 {
  width: 17px; height: 19px;
  background: url('../img/keico_sprites.png') -313px -122px;
}
.bg-icon4 {
  width: 22px; height: 19px;
  background: url('../img/keico_sprites.png') -313px -10px;
}
.bg-icon3 {
  width: 22px; height: 17px;
  background: url('../img/keico_sprites.png') -313px -49px;
}
.bg-icon2 {
  width: 22px; height: 14px;
  background: url('../img/keico_sprites.png') -313px -161px;
}
.bg-icon1 {
  width: 22px; height: 16px;
  background: url('../img/keico_sprites.png') -313px -86px;
}
.bg-facebook {
  width: 30px; height: 30px;
  background: url('../img/keico_sprites.png') -163px -250px;
}